{% extends 'menu.html' %}
{% block title %}Cambiar contraseña}{% endblock %}
{% block content %}
<div class="row card hoverable">

            <div class="card-content ">

                <h4 class="center red-text text-accent-2">Cambiar contraseña</h4>
                    <form action="{% url 'usuarios:reset-password' %}" method="post" class="row s12">

                        {% csrf_token %}

                        <div class="col s12 input-field">
                            <input  id="contrasena_actual" name="actual_pass" type="password" required>
                            <label for="contrasena_actual">Contraseña actual</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="id_password" type="password" name="password"  required>
                            <label for="id_password">Contraseña nueva</label>
                        </div>

                        <div class="input-field col s12">
                                <input id="id_password_1" type="password" name="password_2"  required>
                                <label for="id_password_1">Repetir contraseña</label>
                            </div>
                        <div class="col s12">
                            {% if error_message %}<small class="red-text"><strong>{{ error_message }}</strong></small>{% endif %}
                        </div>

                        <div class="col s12 center">
                            <a class="btn btn-large" href="{% url 'usuarios:index' %}">Cancelar <i class="material-icons right">clear</i></a>
                            <button type="submit" class="btn btn-large">Actualizar<i class="material-icons right">send</i></button>
                        </div>
                    </form>
            </div>
        </div>

{% endblock %}