{% extends 'menu.html' %}
{% load static %}
{% block title %}Mis Cursos{% endblock %}


{% block content %}
<h1>Coordinadora</h1>
   Bienvenida Coordinadora


<ul>
<li><a href="{%url 'coordinacion:cursos' %}">Cursos</a> <a href="{%url 'coordinacion:cursos' %}"> Editar</a> <a href="{%url 'coordinacion:crear_curso' %}"> Crear</a></li>
<li><a href="{%url 'coordinacion:users' %}">Users</a> <a href="{%url 'coordinacion:users' %}"> Editar</a> <a href="{%url 'coordinacion:crear_user'%}"> Crear</a></li>
</ul>
{% endblock %}
