<ul class="collapsible expandable">
    {% for categoria in casos %}
        <li class="active">
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i>
                {{ categoria.categoria }}
            </div>
            <div class="collapsible-body">
                <div style="max-width: 100%; overflow-x:auto">
                    <table id="casos-de-prueba" class="data-feedback" >
                        <thead>
                            <tr class="row_good_feedback">
                                <th>Input</th>
                                <th>Output esperado</th>
                                <th>Casos alternativos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for caso in categoria.casos %}
                                <tr class="row_good_feedback">
                                    <td class="consolas">{{ caso.input }}</td>
                                    <td class="consolas output">{{ caso.output_esperado }}</td>
                                    <td>
                                        <button class="open-modal" id="{{ caso.id }}">
                                            Ver <span class="new badge " data-badge-caption="Nuevos outputs">4</span>
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        {% for caso in categoria.casos  %}
            <div id="modal_div_{{ caso.id }}"></div>

        {% endfor %}
    {% endfor %}
</ul>

{%  block scripts %}
    <script>

    $(document).on('click', '.open-modal', function () {
        var id = $(this)[0].id
        var modalDiv = $('#modal_div_' + id)
        $.ajax({
            url:'{% url 'feedback:casos-alternativos' %}',
            type:'POST',
            data:{
                'id':id,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function (data) {
                console.log(data)
                modalDiv.html(data)
                mi_modal = $('#output_alternativo_'+ id)
                mi_modal.modal();
                mi_modal.modal('open')
            },
            error:function(){
                console.log('hubo un error')
            }
        })
    })

   /* $(document).on('click', '.ver-alternativos', function () {
        var id = $(this)[0].id
        console.log(id)
        $.ajax({
            url:'{% url 'feedback:casos-alternativos' %}',
            type:'POST',
            data:{
                'id':id,
                 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function (data) {
                console.log('success!', data)
                openModal(data);
            },
            error:function(){
                console.log('hubo un error')
            }
        })
    })*/

    function openModal(product_data){
        mi_modal = $('#output_alternativo_'+ product_data.id)
        mi_modal.modal('open');
        let outputs_sugeridos = product_data['outputs_sugeridos']
        let outputs_agregados = product_data['outputs_agregados']
        console.log("outputs", outputs_sugeridos)
        var tabla_sugeridos = mi_modal.find('#tabla-output-sugerido')
        var tabla_agregados =mi_modal.find('#tabla-output-agregado')
        for(let elem in outputs_sugeridos) {
            tabla_sugeridos.find('tbody').append(
                "<tr class='tabla-modal'>" +
                "   <td class='consolas'>" +outputs_sugeridos[elem]['output_obtenido'] + "</td>" +
                "   <td >" +outputs_sugeridos[elem]['frecuencia'] + "</td>" +
                "   <td><input type='text' placeholder='Ingresa una sugerencia para arreglar este caso'/></td>" +
                "   <td><a class='btn btn-small'><i class='material-icons'>add_circle</i></a></td>" +
                "</tr>");
        }
        for(let elem in outputs_agregados) {
            console.log("agregados", outputs_agregados[elem])
        }
        //arreglar que cuando lo abro denuevo entonces se agrega lo mismo muchas muchas veces
    }

    </script>

{% endblock %}