{% load template_tags %}
<ul class="collapsible expandable">
    {% for categoria in casos %}
        <li class="active">
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i>
                {{ categoria.categoria }}
            </div>
            <div class="collapsible-body">
                <div style="max-width: 100%; overflow-x:auto">
                    <table id="casos-de-prueba" class="data-feedback" >
                        <thead>
                            <tr class="row_good_feedback">
                                <th>Input</th>
                                <th>Output esperado</th>
                                <th>Casos alternativos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for caso in categoria.casos %}
                                <tr class="row_good_feedback">
                                    <td class="consolas">{{ caso.input }}</td>
                                    <td class="consolas">{{ caso.output_esperado }}</td>
                                    <td>
                                        {% with nuevos_outputs|lookup:caso.id as nuevos %}
                                            {% if nuevos > 0  %}

                                                <button class="open-modal btn btn-small notification" id="{{ caso.id }}">
                                                    <span>Ver</span>
                                                    <span class="badge" id="num-notif"> {{ nuevos_outputs | lookup:caso.id }}</span>
                                                </button>

                                            {% else %}
                                                <button class="open-modal btn btn-small notification" id="{{ caso.id }}">
                                                    <span>Ver</span>
                                                </button>
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        {% for caso in categoria.casos  %}
            <div id="modal_div_{{ caso.id }}"></div>

        {% endfor %}
    {% endfor %}
</ul>

{%  block scripts %}
    <script>

        $(document).on('click', '.open-modal', function () {
            var id = $(this)[0].id
            var modalDiv = $('#modal_div_' + id)
            $.ajax({
                url:'{% url 'feedback:casos-alternativos' %}',
                data:{
                    'id':id,
                },
                success:function (data) {
                    modalDiv.html(data)
                    mi_modal = $('#output_alternativo_'+ id)
                    mi_modal.modal();
                    mi_modal.modal('open')
                },
                error:function(){
                    console.log('hubo un error con el ajax')
                }
            })
        })
    </script>

{% endblock %}