<ul class="collapsible expandable">
    {% for categoria in casos %}
        <li class="active">
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i>
                {{ categoria.categoria }}
            </div>
            <div class="collapsible-body">
                <div style="max-width: 100%; overflow-x:auto">
                        <table id="casos-de-prueba" class="data-feedback" >
                            <thead>
                                <tr class="row_good_feedback">
                                    <th>Input</th>
                                    <th>Output esperado</th>
                                    <th>Casos alternativos</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for caso in categoria.casos %}
                                        <tr class="row_good_feedback">
                                            <td class="consolas">{{ caso.input }}</td>
                                            <td class="consolas">{{ caso.output_esperado }}</td>
                                            <td>
                                                <a class="modal-trigger " href="#output_alternativo_{{ caso.id }}">
                                                    Ver <span class="new badge " data-badge-caption="Nuevos outputs">4</span>
                                                </a>
                                            </td>

                                        </tr>
                                {% endfor %}

                            </tbody>
                    </table>
                </div>
            </div>
        </li>
        {% for caso in categoria.casos  %}
            <div>{% include 'problemas/modal_casos_alternativos.html' %}</div>

        {% endfor %}
    {% endfor %}
</ul>
