{% extends 'menu.html' %}
{% load static %}


{% block title %}{{ curso.nombre }}{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container">

    <h1>Crear problema</h1>
        <div class="row">
            <form method="post" class="col s12" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.titulo }}
                        {{ form.titulo.errors }}
                        <label>Título del problema</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                       <label for="id_statement"><strong>Enunciado</strong></label>
                        {{ form.statement}}
                        <small>Solo se aceptan PDF's</small>
                    </div>
                </div>
                <div class="row alinear-centro-v" style="margin-top: 3%">
                    <span class="espacio-derecha">Descargar ejemplos de casos de prueba:</span>
                    <a href="{% static 'file_samples/ejemplo_caso.json' %}" class="btn btn-small btn-no-bg espacio-derecha"
                       download="ejemplo_caso.json"><i class="material-icons left">get_app</i> Formato .json</a>
                    <a href="{% static 'file_samples/ejemplo_caso.csv' %}" class="btn btn-small btn-no-bg"
                       download="ejemplo_caso.csv"><i class="material-icons left">get_app</i> Formato .csv</a>
                </div>
                <div class="row">
                     <div class="form-group">
                         <label><strong>Casos de prueba</strong></label>
                        {{ form.tests }}
                        <small>Se aceptan formatos .csv y .json</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="waves-effect waves-light btn-medium btn" >Crear problema</button>
                        <a href="{% url 'cursos:curso' curso_id=clase.curso.id %}" class="waves-effect waves-light btn-medium btn">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
