{% if test_feedback %}
    <div id="reporte_inicial">
            <div style="display: flex"><i class="material-icons icon-green" style="align-self: center; margin-right: 0">check_circle</i>Casos aprobados: {{ cantidad_buenos }} </div>
            <div style="display: flex"><i class="material-icons icon-red" style="align-self: center; margin-right: 0">cancel</i>Casos no aprobados: {{ cantidad_malos }} </div>
    </div>

    <ul class="collapsible expandable">
        {% for category in ordered_test_feedback %}
            {% if category.casos_malos != 0 %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <div class="collapsible-header title-and-button">
                    <div><i class="material-icons">expand_more</i>
                    {{ category.categoría.categoría  }}</div>
                    <div style="display:flex; flex-wrap: nowrap">
                        <div style="display: flex;"><i class="material-icons icon-green" style="align-self: end; margin-right: 0">check_circle</i>{{ category.casos_buenos }} </div>
                        <div style="display: flex; padding-left: 0.5em"><i class="material-icons icon-red" style="align-self: end; margin-right: 0">cancel</i>{{ category.casos_malos }} </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div style="max-width: 100%; overflow-x:auto">
                        <table class="data-feedback" >
                            <thead>
                                <tr class="row_good_feedback">
                                    <th>Resultado</th>
                                    <th>Input</th>
                                    <th>Output esperado</th>
                                    <th>Output obtenido</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for test in category.test_feedback %}
                                    {% if test.passed %}
                                        <tr class="row_good_feedback">
                                            <td ><i class="material-icons icon-green">check_circle</i> </td>
                                            <td class="consolas">{{test.caso.input }}</td>
                                            <td class="consolas output">{{test.caso.output_esperado }}</td>
                                            <td class="consolas output" >{{test.output_obtenido }}</td>
                                        </tr>
                                    {% else %}
                                        <tr class="row_bad_feedback">
                                            <td >  <i class="material-icons icon-red">cancel</i> </td>
                                            <td class="consolas">{{test.caso.input }}</td>
                                            <td class="consolas output">{{test.caso.output_esperado }}</td>
                                            <td class="consolas output">{{ test.output_obtenido }}</td>
                                        </tr>
                                        <tr class="row_bad_feedback">
                                            <td class="sugerencia" colspan="5">
                                                <div style="display: flex">
                                                    {% if test.output_alternativo and test.output_alternativo.agregado %}
                                                        <b class="b_sugerencia"><i class="material-icons">lightbulb_outline</i>Sugerencia: </b>
                                                        <p>{{ test.output_alternativo.sugerencia}}</p>
                                                    {% elif test.error == '1'%}
                                                        <b class="b_error"><i class="material-icons ">warning</i> Error:</b>
                                                        <p>Ocurrió un error al correr este test. Pide ayuda a tu tutora para resolverlo.</p>
                                                    {% elif test.error == '2'%}
                                                        <b class="b_error"><i class="material-icons">access_time</i> Error de timeout:</b>
                                                        <p>Tu código demoró mucho tiempo en correr y tuvo que parar. Pide ayuda a tu tutora para resolver este problema.  </p>
                                                    {% else %}
                                                        <b class="b_sugerencia"><i class="material-icons">lightbulb_outline</i> Sugerencia:</b>
                                                        <p>Aún no hay sugerencias para este caso, pide ayuda a tu tutora para arreglar tu código.</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                    </table>
                    </div>
                </div>
            </li>

        {% endfor %}
    </ul>
{% endif %}