{% if test_feedback %}
    <div id="reporte_inicial">
            <div style="display: flex"><i class="material-icons icon-green" style="align-self: center; margin-right: 0">check_circle</i>Casos aprobados: {{ cantidad_buenos }} </div>
            <div style="display: flex"><i class="material-icons icon-red" style="align-self: center; margin-right: 0">cancel</i>Casos no aprobados: {{ cantidad_malos }} </div>
    </div>

    <ul class="collapsible expandable">
        {% for category in ordered_test_feedback %}
            {% if category.casos_malos != 0 %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <div class="collapsible-header title-and-button">
                    <div><i class="material-icons">expand_more</i>
                    {{ category.categoría.categoría  }}</div>
                    <div style="display:flex; flex-wrap: nowrap">
                        <div style="display: flex;"><i class="material-icons icon-green" style="align-self: end; margin-right: 0">check_circle</i>{{ category.casos_buenos }} </div>
                        <div style="display: flex; padding-left: 0.5em"><i class="material-icons icon-red" style="align-self: end; margin-right: 0">cancel</i>{{ category.casos_malos }} </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div style="max-width: 100%; overflow-x:auto">
                        <table class="data-feedback" >
                            <thead>
                                <tr class="row_good_feedback">
                                    <th>Resultado</th>
                                    <th>Input</th>
                                    <th>Output esperado</th>
                                    <th>Output obtenido</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for test in category.test_feedback %}
                                    {% if test.passed %}
                                        <tr class="row_good_feedback">
                                            <td ><i class="material-icons icon-green">check_circle</i> </td>
                                            <td class="consolas">{{test.caso.input }}</td>
                                            <td class="consolas output">{{test.caso.output_esperado }}</td>
                                            <td class="consolas output" >{{test.output_obtenido }}</td>
                                        </tr>
                                    {% else %}
                                        <tr class="row_bad_feedback">
                                            <td >  <i class="material-icons icon-red">cancel</i> </td>
                                            <td class="consolas">{{test.caso.input }}</td>
                                            <td class="consolas output">{{test.caso.output_esperado }}</td>
                                            <td class="consolas output">{{ test.output_obtenido }}</td>
                                        </tr>
                                        {% if test.output_alternativo and test.output_alternativo.agregado %}
                                            <tr class="row_bad_feedback"><td class="sugerencia" colspan="5"><b style="">Sugerencia:</b> {{ test.output_alternativo.sugerencia}} </td></tr>
                                        {% else %}
                                            <tr class="row_bad_feedback"><td class="sugerencia" colspan="5"><b style="">Sugerencia:</b> No hay sugerencias para este caso, contacta a tu tutora para mas ayuda.  </td></tr>

                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                    </table>
                    </div>
                </div>
            </li>

        {% endfor %}
    </ul>
{% endif %}