{% extends 'menu.html' %}
{% load static %}
{% block title %}{{ curso.nombre}} : {{ problema.titulo }}{% endblock %}

{% block content %}

    <h3>{{ problema.titulo }}</h3>
    <h4>{{ curso.nombre }}</h4>
    <a href="{% url 'cursos:curso' curso_id=curso.id %}" style="margin-bottom:1rem;" class="waves-effect waves-light btn-small btn">
                        <i class="material-icons left">arrow_back</i>Volver</a>
    <!-- Tabs del problema-->
 <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab"><a class="{{ enunciado_active }}" href="#enunciado">Enunciado</a></li>
    <li class="tab"><a class="{{ resultados_active }}" href="#resultados">Resultados</a></li>
    <li class="tab disabled"><a href="#anteriores">Envíos Anteriores</a></li>
  </ul>
  <div id="enunciado" class="col s12">{% include "problemas/enunciado_problema.html" %}</div>
  <div id="resultados" class="col s12">{% include "problemas/feedback_page.html" %}</div>
  <div id="anteriores" class="col s12">{% include "problemas/envios_anteriores.html" %}</div>

{% endblock %}
