{% extends 'menu.html' %}
{% load static %}
{% block title %}{{ curso.nombre}} : {{ problema.titulo }}{% endblock %}

{% block content %}
    <div class="title-and-button">
            <h3>{{ problema.titulo }}</h3>
            <a href="{% url 'problemas:editar-problema' curso_id=curso.id problema_id=problema.id %}" class="btn btn-primary btn-large">Editar<i class="material-icons left">mode_edit</i></a>
    </div>
    <h4>{{ curso.nombre }}</h4>

    <a href="{% url 'cursos:curso' curso_id=curso.id %}" style="margin-bottom:1rem;" class="waves-effect waves-light btn-small btn">
                        <i class="material-icons left">arrow_back</i>Volver</a>
    <!-- Tabs del problema-->
 <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab"><a class="{{ enunciado_active }}" href="#enunciado">Enunciado</a></li>
     {% if request.user.es_profesora or request.user.es_voluntaria %}
        <li class="tab"><a class="{{ casos_active }}" href="#casos">Casos de prueba</a> </li>
    {% endif %}
    <li class="tab"><a class="{{ resultados_active }}" href="#resultados">Mi feedback</a></li>

  </ul>
  <div id="enunciado" class="col s12 tab_content">{% include "problemas/enunciado_problema.html" %}</div>
  <div id="resultados" class="col s12 tab_content">
      {%  if error %}
          {% include "error.html" %}
      {% else %}
        {% include "problemas/feedback_page.html" %}
      {% endif %}
  </div>
    {% if request.user.es_profesora or request.user.es_voluntaria %}
        <div id="casos" class="col s12 tab_content">{% include "problemas/casos_prueba.html" %}</div>
    {% endif %}
{% endblock %}
