<div id="output_alternativo_{{ caso.id }}" class="modal">
    <div class="modal-content">
        <div id="header-modal">
            <div class="title-and-button">
                <h4>Casos alternativos</h4>
                <a href="#!" class="modal-close btn btn-small"><i class="material-icons">close</i> </a>
            </div>
            <blockquote>
                <p>Input: <span class="consolas">{{ caso.input }}</span></p>
                <p>Output esperado: <span class="consolas">{{ caso.output_esperado }}</span></p>
            </blockquote>
        </div>

        <div id="outputs-sugeridos" style="margin-top:2em">
            <h5>Outputs recibidos</h5>
            <div style="max-width: 100%; overflow-x:auto">
                <table class="data-feedback" >
                    <thead>
                        <tr class="tabla-modal">
                            <th>Output recibido</th>
                            <th>Frecuencia</th>
                            <th>Sugerencia</th>
                            <th>Agregar caso alternativo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class=" tabla-modal">
                            <td class="consolas">++++-</td>
                            <td >5</td>
                            <td><input type="text" placeholder="Ingresa una sugerencia para arreglar este caso"/></td>
                            <td><a class="btn btn-small"><i class="material-icons">add_circle</i></a></td>
                        </tr>
                        <tr class=" tabla-modal">
                            <td class="consolas">++++++++--</td>
                            <td >5</td>
                            <td><input type="text" placeholder="Ingresa una sugerencia para arreglar este caso"/></td>
                            <td><a class="btn btn-small"><i class="material-icons">add_circle</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="outputs-alternativos" style="margin-top: 2em">
            <h5>Outputs agregados</h5>
             <div style="max-width: 100%; overflow-x:auto">
                <table class="data-feedback" >
                    <thead>
                        <tr class="tabla-modal">
                            <th>Output recibido</th>
                            <th>Frecuencia</th>
                            <th>Sugerencia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class=" tabla-modal">
                            <td class="consolas">+++-</td>
                            <td >5</td>
                            <td>Se ingresó un + de más. Revisa los límites de los ciclos, estás iterando de más. </td>
                            <td><a class="btn btn-small disabled">Agregado</a></td>
                        </tr>
                        <tr class=" tabla-modal">
                            <td class="consolas">+-+-+-+-</td>
                            <td >5</td>
                            <td>Se ingresó un + de más. Revisa los límites de los ciclos, estás iterando de más. </td>
                             <td><a class="btn btn-small disabled">Agregado</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>