/* line 9, static/scss/style.scss */
.btn-large .btn-small {
  background-color: #FF5252; }

/* line 13, static/scss/style.scss */
.btn-large:hover .btn-small:hover {
  background-color: #FF8A80; }

/* line 17, static/scss/style.scss */
nav {
  background-color: #FF5252; }

/* line 22, static/scss/style.scss */
table {
  border-collapse: collapse;
  margin-top: 70px; }

/* line 26, static/scss/style.scss */
td, th {
  padding: 10px;
  border-bottom: 2px solid #FF8A80;
  text-align: center; }

/* line 32, static/scss/style.scss */
.icon-red {
  color: #B32727; }

/* line 36, static/scss/style.scss */
.icon-green {
  color: #15B342; }
