/* line 3, static/usuarios/css/style.scss */
body {
  padding: 0;
  margin: 0;
  background: #ddd; }

/* line 8, static/usuarios/css/style.scss */
.btn {
  margin-top: 10px; }

/* line 12, static/usuarios/css/style.scss */
.container {
  margin: 100px auto;
  width: 25%; }

@media (max-width: 952px) {
  /* line 18, static/usuarios/css/style.scss */
  .container {
    width: 60%; } }

@media (max-width: 475px) {
  /* line 23, static/usuarios/css/style.scss */
  .container {
    width: 80%; } }

/* label focus color */
/* line 30, static/usuarios/css/style.scss */
.input-field input[type=text]:not(.browser-default):focus + label {
  color: #ff5151; }

/* line 33, static/usuarios/css/style.scss */
.input-field input[type=password]:not(.browser-default):focus + label {
  color: #ff5151; }

/* label underline focus color */
/* line 37, static/usuarios/css/style.scss */
.input-field input[type=text]:not(.browser-default):focus {
  border-bottom: 1px solid #ff5151;
  box-shadow: 0 1px 0 0 #ff5151; }

/* line 41, static/usuarios/css/style.scss */
.input-field input[type=password]:not(.browser-default):focus {
  border-bottom: 1px solid #ff5151;
  box-shadow: 0 1px 0 0 #ff5151; }

/* valid color */
/* line 46, static/usuarios/css/style.scss */
.input-field input[type=text].valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green; }

/* line 50, static/usuarios/css/style.scss */
.input-field input[type=password].valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green; }
