/* line 7, static/scss/style.scss */
.btn-large {
  background-color: #FF5252; }

/* line 11, static/scss/style.scss */
.btn-large:hover {
  background-color: #FF8A80; }

/* line 15, static/scss/style.scss */
nav {
  background-color: #FF5252; }

/* line 20, static/scss/style.scss */
table {
  border-collapse: collapse;
  margin-top: 30px; }

/* line 24, static/scss/style.scss */
td, th {
  padding: 10px;
  border-bottom: 2px solid #FF8A80;
  text-align: center; }

/* line 30, static/scss/style.scss */
.button1 {
  background: #FF8A80;
  background-color: #f9e236b3;
  color: white;
  font: bold 10px/10px verdana;
  position: absolute;
  left: 70%; }
