
	body{
		padding: 0;
		margin:100px;
		background: #ddd;
	}
	.btn{
		margin-top: 10px;

	}
	.container{
		margin:100px auto;
		width: 25%;

	}
	@media(max-width: 952px){
		.container{
			width: 60%;
		}
	}
		@media(max-width: 475px){
		.container{
			width: 80%;
		}
	}

