{% extends 'menu.html' %}
{% load static %}
{% load template_tags %}
{% block title %}{{ curso.nombre }}{% endblock %}


{% block content %}

{% if hay_curso %}
    <!-- Mensaje de creación exitosa de curso -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                 <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  {{message}}
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class='title-and-button' >
        <div>
            <h1>{{ curso.nombre }}</h1>
            <p class="flex-center" style="justify-content: left"><i class="material-icons curso-icons">place</i>{{ curso.sede.nombre }}
                            <i class="material-icons curso-icons date-icon">date_range</i>{{ curso.anho }}</p>
        </div>
        {% if usuaria.es_profesora %}
            <a href="{% url 'clases:agregar_clase' curso_id=curso.id %}" class="waves-effect waves-light btn-large btn" >Agregar clase</a>
        {% endif %}
    </div>

    {% if usuaria.es_alumna %}

        <div class="modulo-asistencia">

            <div class="flex-container">

                <!-- TÍTULO ASISTENCIA -->
                <div>
                    <h4> Asistencia </h4>
                </div>

                <!-- MODAL -->
                <div>
                    <!-- Modal Trigger -->
                    <div>
                        <div class="material-icons right">
                            <a href="#modal1" class="waves-effect waves-light btn-small btn modal-trigger"> <i class="material-icons right">search</i> Ver Detalle </a>
                        </div>
                    </div>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">

                                <div class="modal-content">

                                  <h4>Tu Asistencia</h4>

                                    <p> Se han desarrollado {{nro_clases_realizadas}} clases de un total de {{nro_clases_totales}}. </p>

                                    <center>
                                        <table class="highlight tabla-asistencia-alumna">
                                            <thead>
                                              <tr>
                                                <th> Clase </th>
                                                <th> Asistio </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for lista in clases_asistencias %}
                                                    <tr>
                                                        <td> {{lista.0.nombre}} </td>
                                                        {% if lista.1 %}
                                                            <td>  <i class="material-icons icon-green">check</i> </td>
                                                        {% else %}
                                                            <td>  <i class="material-icons icon-red">clear</i> </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </center>
                                </div>

                                <div class="modal-footer">
                                    <div class="material-icons right">
                                        <a href="" class="modal-action modal-close waves-effect waves-light btn-small btn">
                                            <i class="material-icons right">check</i>Ok</a>
                                    </div>
                                </div>

                    </div>
                </div>

            </div>



            <div class="row flex-container">
                <div class="col s10">
                    <div class="progress">
                        <div class="determinate" style=" width: {{porcentaje_asistencia}}%"></div>
                    </div>
                </div>

                <div class="col s1" style="font-size:larger;">
                    {{ porcentaje_asistencia }}%
                </div>

                <div class="col s1"></div>
            </div>


        </div>
    {% endif %}
    <div>
        <a id="sort-button" class="btn-small btn btn-sort" onclick="cambiar_orden()">
            {% if order == 'newest' %}
                Más recientes primero
            {% else %}
                Más antiguas primero
            {% endif %}
            <i class="material-icons right">cached</i></a>
    </div>
    <ul class="collection collection-principal" id="lista-clases">
        {% if clases %}
            {% for clase in clases %}
                {% if clase.publica or not usuaria.es_alumna %}
                    <li class="collection-item publica{{ clase.publica }} items-clase">
                        <div id="clase_{{ clase.id }}" class="collection-info">
                            <p><b>{{ clase.nombre }}</b> <span id="la-fecha" class="fecha-texto fecha_clase">&nbsp; {{ clase.fecha_clase }}</span></p>
                            <div style="display: flex; align-items: center">
                                {% if user.es_profesora %}
                                    {% if clase.publica %} <p>Publicada</p>
                                    {% else %} <p>No publicada</p>
                                    {% endif %}
                                    <a class="btn-floating btn-small btn" style="margin-left: 10px" onclick="editar_clase({{ clase.id }})">
                                        <i class="tiny material-icons">create</i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if user.es_profesora %}
                            <div style = "display:none" id="clase_edit_{{ clase.id }}">
                                <form method="post" action="" style="width: 100%">

                                    {% csrf_token %}

                                    <input type="hidden" value="{{ clase.id }}" name="id_clase">
                                    <div class="title-and-button">
                                        <div class="title-and-button">
                                            <div class="input-field ">
                                                <i class="material-icons prefix">mode_edit</i>
                                                <input value="{{ clase.nombre }}"  type='text' class='validate' name="nombre">
                                                <label class='active' for='clase_edit_" + id_clase + "'>Clase {{ forloop.counter }}:</label>
                                            </div>
                                            <div>
                                                <input value="{{ clase.fecha_clase.year }}-{{ clase.fecha_clase.month }}-{{ clase.fecha_clase.day }}" type="text" id="fecha_clase" class="datepicker" name="fecha_clase">
                                                <label class="active" for="fecha_clase">Fecha clase </label>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="btn-floating btn-small btn" style="margin-left: 10px;float:right" onclick="cerrar_edicion_clase({{ clase.id }})"><i class="tiny material-icons">close</i></a>
                                        </div>
                                    </div>

                                    <div class="switch" style="align-self: start">
                                        <label>
                                            {% if clase.publica %}
                                                <input type="checkbox" name="publica"  checked="checked" />
                                            {% else %}
                                                <input type="checkbox" name="publica"/>
                                            {% endif %}
                                            <span>Pública</span>
                                        </label>
                                        <div>
                                            <button type="submit"  class="waves-effect waves-light btn-small btn btn-save">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}

                        <div id="problemas">
                            <hr class="problemas-line">
                            <div class="title-and-button">
                                {% if clase.problema_set.all %}
                                    <p>Problemas de la clase:</p>
                                {% else %}
                                    <p>Aún no hay problemas</p>
                                {% endif %}
                                {% if usuaria.es_profesora %}
                                    <a href="{%  url 'problemas:crear-problema' clase_id=clase.id%}" class="btn-floating waves-effect waves-light btn-small btn"><i class="material-icons">add</i></a>
                                {% endif %}
                            </div>

                            <ul class="collection collection-pequena">

                                {% for problema in clase.problema_set.all %}
                                <li class="collection-item title-and-button">
                                    <div>
                                        <a href="{% url 'problemas:enunciado-problema' curso_id=curso.id problema_id=problema.id result=1%}">
                                            {{ problema }}
                                        </a>
                                    </div>
                                    {% with feedbacks|lookup:problema.id as feedback %}
                                        {% if feedback and feedback.resultado == True %}
                                            <div class="secondary-content" style="color: green"> Completo </div>
                                        {% elif feedback and feedback.resultado == False %}
                                            <div class="secondary-content" style="color: darkorange">Incompleto </div>
                                        {% endif %}
                                    {% endwith %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="collection-item">
                No hay clases disponibles para este curso.
            </li>
        {% endif %}
    </ul>

    {% else %} <!-- Si no hay curso -->
        <div>
            <h2 style="text-align:center;">No tienes cursos registrados en este período!</h2>
                <div style="text-align:center;"><img src="{% static 'images/error_kitten.png' %}" alt="gatito del mensaje de error" style="width:300px;"></div>

                <p style="text-align:center;margin-top:5%;">Si estás en un curso actualmente, pide ayuda a tu tutora para que puedas ingresar.</p>
        </div>
    {% endif %}
{% endblock %}\

{% block scripts %}
    <script src={% static 'js/scripts.js' %}>

    </script>

{% endblock %}