{% extends 'menu.html' %}
{% load static %}
{% block title %}Mis Cursos{% endblock %}


{% block content %}
    {% if cursos %}
        <ul class=" collection with-header collapsible popout">
            <li class="collection-header" >
                    <h1>Mis cursos</h1>
            </li>

                {% for curso in cursos %}
                <li class="active">
                    <div class="collapsible-header">
                        {{ curso.nombre }}
                    </div>
                    <div class="collapsible-body">
                        <!--h4>Bienvenida al curso {{ curso.nombre }}</h4-->

                        <a href="{% url 'cursos:curso' curso_id=curso.id %}" class="waves-effect waves-light btn-large "><i class="material-icons right">school</i>Clases y problemas</a>

                        <a href="{% url 'cursos:estadisticas' curso_id=curso.id %}" class="btn btn-large"><i class="material-icons right">show_chart</i>Estadísticas</a>

                        <a href="{% url 'asistencia:asistencia_gral' curso_id=curso.id %}" class="waves-effect waves-light btn-large "><i class="material-icons right">format_list_bulleted</i>Asistencia</a>
                    </div>
                </li>
                {% endfor %}

        </ul>
    {% else %}
        <ul class="collection with-header">
        <li class="collection-header"><h1>Mis cursos</h1></li>
        <li class="collection-item">No hay cursos disponibles</li>

      </ul>

    {% endif %}

{% endblock %}
{% block scripts %}
    <script src={% static 'js/scripts.js' %}></script>

{% endblock %}