{% extends 'menu.html' %}
{% load static %}
{% load template_tags %}
{% block title %}Estadísticas {{ curso.nombre }}{% endblock %}

{% block content %}
{% if hay_alumnas %}
<h2>Estadísticas {{ curso.nombre }}</h2>

    {% if not hay_clases %}
        <h6>No hay clases creadas por el momento, pero puedes ver el listado de alumnas pertenecientes al curso.</h6>
    {% endif %}

    <div class="flex-container" style="margin-top: 2%; ">
        <!-- BUTTON DE VOLVER -->
        <div style="align-self:stretch">
            <div class="material-icons left" style="position:relative;right:0%;">
                <a href="{% url 'cursos:mis_cursos' %}" class="btn-small btn">
                    <i class="material-icons left">arrow_back</i>Volver a mis cursos</a>
            </div>
        </div>
    </div>

    <div class="container-tabla-estadisticas">
        <table id="tabla_estadísticas" class="display cell-border tabla-estadisticas">
            <thead>
                <tr>
                    <th class="sticky-left" style="border: 1px solid white; background-color: white"> </th>
                    {% for clase in clases %}
                        <th class="max-ancho-tabla header-row" colspan="{{ clase.problema_set.all|length }}">
                            {{clase.nombre}}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    <th  class="sticky-left header-row">Nombre</th>
                    {% for clase in clases %}
                        {% if clase.problema_set.all|length == 0 %}
                            <th class="header-row"></th>
                        {% else %}
                            {% for problema in clase.problema_set.all %}
                                <th class="max-ancho-tabla header-row">
                                    {{problema.titulo}}
                                </th>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for alumna in curso.alumnas.all %}
                    <tr class="datos-row">
                        <td class="sticky-left white-primary">{{ alumna.last_name }}, {{ alumna.first_name }}</td>

                        {% with feedback_alumnas|lookup:alumna.id as info_alu %}
                            {% for clase in clases %}
                                 {% if clase.problema_set.all|length == 0 %}
                                    <td></td>
                                {% else %}
                                    {% for problema in clase.problema_set.all %}
                                        {% with info_alu.feedbacks|lookup:problema.id  as feedback%}
                                            {% if feedback %}
                                                {% if feedback.resultado == True %}
                                                    <td>  <i class="material-icons icon-green">check_circle</i> </td>

                                                {% elif feedback.resultado == False %}
                                                    <td>  <i class="material-icons icon-red">cancel</i> </td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h2 style="text-align:center;">Este curso no tiene alumnas!</h2>
    <div style="text-align:center;margin-top:5%"><img src="{% static 'images/error_kitten.png' %}" alt="gatito del mensaje de error" style="width:300px;"></div>
    <p style="text-align:center;">Para mostrar las estadísticas es necesario que el curso tenga alumnas inscritas.</p>
    <p style="text-align:center;">Habla con la coordinadora del curso para solucionar el problema :)</p>
    <div class="flex-center">
        <div class="material-icons left">
            <a href="{% url 'cursos:mis_cursos' %}" class="waves-effect waves-light btn-small btn" style="margin-top: 25px;">
                <i class="material-icons left">arrow_back</i>Volver</a>
        </div>
    </div>
{% endif %}
{% endblock %}