{% extends 'menu.html' %}
{% load static %}
{% load template_tags %}
{% block title %}Estadísticas {{ curso.nombre }}{% endblock %}

{% block content %}
{% if hay_alumnas %}
<h2>Estadísticas {{ curso.nombre }}</h2>
    <div class="flex-container" style="margin-top: 2%; "> <!-- botones de pasar asistencia y de volver cuando hay tabla-->
        <!-- BUTTON DE VOLVER -->
        <div style="align-self:stretch">
            <div class="material-icons left" style="position:relative;right:0%;">
                <a href="{% url 'cursos:mis_cursos' %}" class="btn-small btn">
                    <i class="material-icons left">arrow_back</i>Volver a mis cursos</a>
            </div>
        </div>
    </div>
    {% if hay_clases %}
    <div class="container-tabla-estadisticas">
        <table id= "tabla_estadísticas" class="display cell-border">
            <thead>
                <tr>
                    <th style=" border-bottom: 1px solid white"></th>
                    <th style="border-bottom: 1px solid white"></th>
                    {% for clase in clases %}
                        <th style="border: 1px solid #ddd; border-bottom: 1px solid white" colspan="{{ clase.problema_set.all|length }}">
                            {{clase.nombre}}
                        </th>
                    {% endfor %}
                </tr>
                <tr class="tr-header">
                    <th class="sticky-left" > Nombre</th>
                    <th class="sticky-left" > Apellido</th>
                    {% for clase in clases %}
                        {% if clase.problema_set.all|length == 0 %}
                            <th style="border: 1px solid #ddd; border-top:1px solid white; border-bottom: 1px solid black"></th>
                        {% else %}
                            {% for problema in clase.problema_set.all %}
                                <th style="border: 1px solid #ddd; border-top:1px solid white; border-bottom: 1px solid black">
                                    {{problema.titulo}}
                                </th>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for alumna in curso.alumnas.all %}
                    <tr>
                        <td class="sticky-left">{{ alumna.first_name }}</td>
                        <td class="sticky-left">{{ alumna.last_name }}</td>
                        {% with feedback_alumnas|lookup:alumna.id as info_alu %}
                            {% for clase in clases %}
                                 {% if clase.problema_set.all|length == 0 %}
                                    <td></td>
                                {% else %}
                                    {% for problema in clase.problema_set.all %}
                                        {% with info_alu.feedbacks|lookup:problema.id  as feedback%}
                                            {% if feedback %}
                                                {% if feedback.resultado == True %}
                                                    <td>  <i class="material-icons icon-green">check_circle</i> </td>

                                                {% elif feedback.resultado == False %}
                                                    <td>  <i class="material-icons icon-red">cancel</i> </td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %} <!-- quizá no haya que hacer esta separación pero hay que ver cómo queda la tabla anterior -->
        no hay clases pero sí alumnas uwu
    {% endif %}
{% else %}
    <h2 style="text-align:center;">Este curso no tiene alumnas!</h2>
    <div style="text-align:center;margin-top:5%"><img src="{% static 'images/error_kitten.png' %}" alt="gatito del mensaje de error" style="width:300px;"></div>
    <p style="text-align:center;">Para mostrar las estadísticas es necesario que el curso tenga alumnas inscritas.</p>
    <p style="text-align:center;">Habla con la coordinadora del curso para solucionar el problema :)</p>
    <div class="flex-center">
        <div class="material-icons left">
            <a href="{% url 'cursos:mis_cursos' %}" class="waves-effect waves-light btn-small btn" style="margin-top: 25px;">
                <i class="material-icons left">arrow_back</i>Volver</a>
        </div>
    </div>
{% endif %}
{% endblock %}