{% extends 'menu.html' %}
{% load static %}
{% block title %}Asistencia{% endblock %}

{% block content %}

    {% if hay_clases and hay_alumnas and clases %}     <!-- C++: Basico -->

        <div>
             <h4> Asistencia </h4>
             <h5> {{curso.nombre}} </h5>
        </div>

        {% if id_prox_clase < 0 %}
            <div class="col s4" style="align-self: stretch" >
                <div class="material-icons right" >
                    <a href="{% url 'asistencia:asistencia' curso_id=curso.id clase_id=1 %}" class="waves-effect waves-light btn-small btn disabled">
                        <i class="material-icons right">format_list_bulleted</i>
                            Pasar asistencia
                        </a>
                </div>
            </div>

        {% else %}
            <div class="col s4" style="align-self: stretch" >
                <div class="material-icons right" >
                    <a href="{% url 'asistencia:asistencia' curso_id=curso.id clase_id=id_prox_clase %}" class="waves-effect waves-light btn-small btn">
                        <i class="material-icons right">format_list_bulleted</i>
                            Pasar asistencia
                        </a>
                </div>
            </div>

        {% endif %}

        <div class="material-icons left" >
                <a href="{% url 'cursos:mis_cursos' %}" class="waves-effect waves-light btn-small btn" style="margin-top: 25px;margin-left:130px;">
                        <i class="material-icons left">arrow_back</i>Volver</a>
        </div>

        <div class="container">
          <table>
            <thead>

              <tr>
                <th> N° </th>

                <th> Alumna </th>

                {% for clase in clases %}
                    <th> Clase {{forloop.counter}} </th>
                {% endfor %}

                 <th> Total clases </th>

              </tr>
            </thead>

            <tbody>

                {% for lista in lista_asistencias %}

                    <tr>

                        <td> {{forloop.counter}} </td>

                        <td> {{ lista.0.first_name }} {{ lista.0.last_name }} </td>

                        {% for bool in lista.1 %}

                            {% if bool %}
                                <td>  <i class="material-icons icon-green">check_circle</i> </td>
                                <!-- <td bgcolor="82FFAD" >   </td> -->

                            {% else %}
                                <td>  <i class="material-icons icon-red">cancel</i> </td>

                                <!-- <td bgcolor="#FF8C89">  </td> -->

                            {% endif %}

                        {% endfor %}

                        <td> {{ lista.2 }} </td>

                    </tr>

                {% endfor %}

                <tr>
                    <th>  </th>

                    <th> Total alumnas </th>

                    {% for total in total_por_clase %}

                        <td> {{ total }} </td>

                    {% endfor %}

                    <td>  </td>

                </tr>


            </tbody>
          </table>

        </div>




    {% elif hay_clases and hay_alumnas %} <!-- Progra UAndes -->

        <div>

            <h3 style="text-align:center;margin-top:30px;">¡Ups!    Aún no se ha pasado asistencia para este curso.</h3>

            <div style="text-align:center;margin-top:10%"><img src="https://image.flaticon.com/icons/svg/763/763738.svg" alt="gatito del mensaje de error" style="width:20%;"></div>

        </div>

        <div class="col s4" style="align-self: stretch; position:relative; margin-top:70px;" >
                <div class="material-icons left" style="position:relative; left:43%; right:45%;">
                    <a href="{% url 'asistencia:asistencia' curso_id=curso.id clase_id=id_prox_clase %}" class="waves-effect waves-light btn-small btn ">
                        <i class="material-icons right">format_list_bulleted</i>
                            Pasar asistencia
                        </a>
                </div>
        </div>




    {% else %}

        <div>

        <!-- no hay clases y no hay alumnas -->
        {% if not hay_clases and not hay_alumnas %}      <!-- C++: Medio -->

            <h2 style="text-align:center;">Este curso no tiene clases ni alumnas!</h2>
            <div style="text-align:center;"><img src="https://image.flaticon.com/icons/svg/763/763731.svg" alt="gatito del mensaje de error" style="width:20%;"></div>

            <p style="text-align:center;margin-top:5%;">Para mostrar el historial de asistencia es necesario que el curso tenga clases creadas y alumnas inscritas.</p>

        <!-- no hay clases y hay alumnas -->
        {% elif not hay_clases and hay_alumnas %}   <!-- Progra Antofa -->

            <h2 style="text-align:center;">Este curso no tiene clases!</h2>
            <div style="text-align:center;margin-top:5%;"><img src="https://image.flaticon.com/icons/svg/763/763731.svg" alt="gatito del mensaje de error" style="width:20%;"></div>

            <p style="text-align:center;">Para mostrar el historial de asistencia es necesario que el curso tenga clases creadas.</p>


        <!-- hay clases y no hay alumnas -->
        {% elif hay_clases and not hay_alumnas %}       <!-- C++: Avanzado -->

            <h2 style="text-align:center;">Este curso no tiene alumnas!</h2>
            <div style="text-align:center;margin-top:5%"><img src="https://image.flaticon.com/icons/svg/763/763731.svg" alt="gatito del mensaje de error" style="width:20%;"></div>

            <p style="text-align:center;">Para mostrar el historial de asistencia es necesario que el curso tenga alumnas inscritas.</p>

        {% endif %}

            <p style="text-align:center;">Habla con la coordinadora del curso para solucionar el problema :)</p>

        </div>


        <!--<img src="{% static '../../NinasProject/static/images/error_kitten.png' %}" alt="holi">-->

        <div class="center-align">
        <div class="col s4 offset-s1 center-align" style="align-self: stretch; position:relative;left:45%;right:45%;" >
            <div class="material-icons left">
                <a href="{% url 'cursos:mis_cursos' %}" class="waves-effect waves-light btn-small btn" style="margin-top: 25px;">
                        <i class="material-icons left">arrow_back</i>Volver</a>
            </div>
        </div>
        </div>


    {% endif %}






{% endblock %}


