{% extends 'menu.html' %}
{% load static %}
{% block title %}Asistencia{% endblock %}

{% block content %}
<form>{% csrf_token %}
    <h4>
        Asistencia
    </h4>
    <h5>
        Clase 1: Grafos
    </h5>

    <div class="container">

      <table>
        <thead>
          <tr>
            <th> Alumnas </th>
            <th> Clase 1 </th>
          </tr>
        </thead>
        <tbody>

                {% for alumna in curso.alumnas.all %}
                  <tr>
                    <td> {{alumna.username}} </td>
                    <td>
                        <label>
                            <input id=alumna.id type="checkbox" name="asistencia_alumna" value=0/>
                            <span></span>
                        </label>
                    </td>
                  </tr>
                {% endfor %}

        </tbody>
      </table>

    </div>

    <input type="submit" name="submit" value="guardar">
</form>

{% endblock %}

