{% extends 'menu.html' %}
{% load static %}
{% block title %}Asistencia{% endblock %}

{% block content %}

    <div>
         <h4> Asistencia </h4>
         <h5> {{curso.nombre}} </h5>
    </div>

    <div class="col s4" style="align-self: stretch" >
        <div class="material-icons right" >
            <a href="{% url 'asistencia:asistencia' curso_id=curso.id clase_id=1 %}" class="waves-effect waves-light btn-small red accent-2">
                <i class="material-icons right">format_list_bulleted</i>Pasar asistencia</a>
        </div>
    </div>

    <div class="container">
      <table>
        <thead>

          <tr>
            <th> Alumnas </th>

            {% for clase in clases %}
                <th> Clase {{forloop.counter}} </th>
            {% endfor %}

             <th> Total clases </th>

          </tr>
        </thead>

        <tbody>

            {% for lista in lista_asistencias %}

                <tr>

                    <td> {{ lista.0.first_name }} {{ lista.0.last_name }} </td>

                    {% for bool in lista.1 %}

                        {% if bool %}
                            <td>  <i class="material-icons">check</i> </td>
                            <!-- <td bgcolor="82FFAD" >   </td> -->

                        {% else %}
                            <td>  <i class="material-icons">close</i> </td>

                            <!-- <td bgcolor="#FF8C89">  </td> -->

                        {% endif %}

                    {% endfor %}

                    <td> {{ lista.3 }} </td>

                </tr>

            {% endfor %}

            <tr>
                <th> Total alumnas </th>

                {% for total in total_por_clase %}

                    <td> {{ total }} </td>

                {% endfor %}

            </tr>


        </tbody>
      </table>

    </div>






{% endblock %}

