{% extends 'menu.html' %}
{% load static %}
{% block title %}Asistencia{% endblock %}


{% block content %}

    <div>
         <h4> Asistencia {{curso.nombre}} </h4>
         <h5> {{ clase.nombre }} </h5>
    </div>


    <div class="material-icons left">

        <a href="{% url 'asistencia:asistencia_gral' curso_id=curso.id %}" class="waves-effect waves-light btn-small btn red accent-2" 
            onclick="clear_cache('{{ request.scheme }}','{{ request.get_host }}', '{% url 'asistencia:asistencia_cache' curso_id=curso.id clase_id=clase.id %}')">
                <i class="material-icons left">arrow_back</i>Volver</a>


    <div class="forms-table">

        <form method="post" class="list">
            {%csrf_token%}
                {{formset.management_form}}
                {% for form in formset %}
                    {{ form.id }}
                    <div class="flex-container-asistencia" >
                        {% if form.instance.alumna.model_pic %}
                            <div><img src="{{form.instance.alumna.model_pic.url}}"  style="width:70px; margin-right:15px;"></div>
                        {% else %}
                            <div><img src="/media/users/avatar.png"  style="width:70px; margin-right:15px;"></div>
                        {% endif %}
                        <label class="nombre-checkbox">
                            {% if form.asistio is None %}
                                {{ False }}
                            {%else%}
                                {{ form.asistio }}
                            {%endif%}
                            <span>{{ form.instance.alumna.first_name }} {{ form.instance.alumna.last_name }}</span>
                        </label>
                    </div>
                {%endfor%}

                <!-- BUTTON QUE MANDA LAS COSAS A LA BDD -->

                <div>
                    <a href="{% url 'asistencia:asistencia_gral' curso_id=curso.id %}" class="waves-effect waves-light btn-small btn red accent-2" 
                        onclick="clear_cache('{{ request.scheme }}','{{ request.get_host }}', '{% url 'asistencia:asistencia_cache' curso_id=curso.id clase_id=clase.id %}')">
                        <i class="material-icons left">arrow_back</i>Volver</a>

                    <a href="{% url 'asistencia:asistencia_gral' curso_id=curso.id %}" 
                        onclick="clear_cache('{{ request.scheme }}','{{ request.get_host }}', '{% url 'asistencia:asistencia_cache' curso_id=curso.id clase_id=clase.id %}')">
                        <button type="submit" class="waves-effect waves-light btn-small btn red accent-2">
                            <i class="material-icons right">playlist_add_check</i>Guardar</button>
                    </a>

                </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src={% static 'js/scripts.js' %}></script>
{% endblock %}
