{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <div class="navbar-fixed">
        <nav class="primary">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo"><img src="{% static 'img/NiñasPro blanco.png' %}" class="nav-sized"></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" class="nav-sized">menu</i></a>

              <ul id="nav-mobile" class="right hide-on-med-and-down" style="text-align: right">
                  {% for menu_item in user.get_menu_items %}
                      <li><a href={{ menu_item.1 }}>{{ menu_item.0 }}</a></li>
                  {% endfor %}
                <li><a href="{% url 'usuarios:logout' %}">Salir</a></li>
              </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo" >
       {% for menu_item in user.get_menu_items %}
              <li><a href={{ menu_item.1 }}>{{ menu_item.0 }}</a></li>
          {% endfor %}
        <li><a href="{% url 'usuarios:logout' %}">Salir</a></li>

    </ul>



{% endblock %}
{% block scripts %}
    <script src={% static 'js/scripts.js' %}></script>

{% endblock %}