
$primary-color: #FF5252 !default;
$hover-color:  #FF8A80;

.btn-large {
  background-color: $primary-color;
}

.btn-large:hover {
  background-color: $hover-color;
}

nav {
  background-color: $primary-color;
}


span.editar-badge {
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: $primary-color;
	border-radius: 2px;
}