$primary-color: #FF5252!default;
$hover-color:  #FF8A80;
$present_color: #fcffd1;
$absent-color: #FECCC4;
$x-color: #eb1212;
$check-color: #05A175;
$not-enabled-color: #80868b;
$no-assist-color: 		#FFA500;

.letra_rosada {
  color: $primary-color;
}

.letra_gris {
  color: $not-enabled-color;
}
.container {
  margin-top: 2em;
}

.output {
  text-align: left !important;
}
#reporte_inicial {

  font-size: 1.5em;
  margin-top:1em;
  margin-bottom: 1em;
}
.consolas{
    font: 1.3rem Inconsolata, monospace;
}
#casos-de-prueba > tbody > tr:nth-child(even) {background-color: #f2f2f2;}

.tabla-modal > td, .tabla-modal > th{
  padding: 10px;
  border-bottom: 1px solid $not-enabled-color ;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
}

tr.row_good_feedback > td , tr.row_good_feedback > th{
  padding: 10px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid $not-enabled-color ;
  text-align: center;
  max-width: 5em;
  word-wrap: break-word;
}
tr.row_bad_feedback > td {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: #ffffff;
  text-align: center;
  max-width: 5em;
  word-wrap: break-word;
}

tr.row_bad_feedback> td.sugerencia{
  padding: 10px;
  padding-left: 20px;
  padding-bottom:1.5em;
  border-bottom: 2px solid $not-enabled-color;
  border-top: #ffffff;
  text-align: center;
  max-width: 5em;
  word-wrap: break-word;
}

.b_sugerencia{
  background-color:  $primary-color;
  color: whitesmoke;
  padding: 0.5em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;

}

.b_error {
  background-color:  $x-color;
  color: whitesmoke;
  padding: 0.5em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
}




td, th {
    padding: 10px;
    border-bottom: 2px solid $hover-color;
    text-align: center;
	word-wrap: break-word;
}

.row_bad_feedback{
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: #ffffff;
}
.tabla-asistencia-alumna {
    table-layout: fixed;
    width: 80%;
    
}

.container-tabla-asist-gral {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    margin-left:0%;
    margin-top: 3%;
    margin-block-end: 10%;
}
.container-tabla-estadisticas {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    margin-left:0%;
    margin-top: 3%;
    margin-block-end: 10%;
}


.tabla-asist-gral .sticky-left , #tabla_estadísticas .sticky-left{
    position: sticky;
    left: 0;
    background-color: white;
}


.tabla-asist-gral .sticky-right-first, #tabla_estadísticas .sticky-right-first {
  position: sticky;
  right: 74px;
  background-color: white;
}

.tabla-asist-gral .sticky-right-last, #tabla_estadísticas .sticky-right-last {
  position: sticky;
  right: 0;
  background-color: white;
}

 .estadistica-th1 {
  border-bottom: 1px solid white;
}

.list {
    margin-top: 10px;
}


.nombre-checkbox {
    font-size:large;
    color:#000000e6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}
.checkbox-indigo[type="checkbox"] + label:before{
  border: 2px $primary-color;
  background: transparent;
}


.icon-red {
    color: $x-color;
}

.icon-green {
    color: $check-color;
}

.icon-orange {
  color: $no-assist-color;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.progress {
    background-color: #bfc8fbb3;
    transform: scale(1, 2);
}

.progress .determinate {
    background-color: #8697f3;
}

.text {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}


.flex-container-asistencia {
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:center;
  margin-top:20px;
}

.flex-center {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: center;
         }

div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto,
}




#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }

      
.title-and-button {
  display: flex ;
  justify-content:space-between;
  align-items: baseline;
}

.title-mis-cursos {
  margin-left: 10px;
  margin-top: 0
}

/* has to be !important to override collapsible-header i */
.curso-icons {
  font-size: large!important;
  margin-right: 5px!important;
}

.date-icon {
  margin-left: 15px
}

  .icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer;
}

   /* The alert message box */
.alert {
  padding: 15px;
  background-color: $primary-color;
  color: white;
  margin-bottom: 20px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: $absent-color;
}

.publicaFalse {
  color: $not-enabled-color;
}

hr.problemas-line {
  border: 1px dotted $not-enabled-color;
}


.feedback-bueno {
  background-color: $check-color
}

.feedback-malo {
  background-color: $x-color
}

.tab_content {
  padding: 1em;
}

.info-assist {
  margin-left:auto; 
  margin-top: 30px; 
  margin-right: 40px;
}

.icon-header {
  position: relative;
  margin-right: 10px;
}

