
$primary-color: #FF5252 !default;
$hover-color:  #FF8A80;
$present_color: #FCFFD1;
$absent-color: #FECCC4;

.btn-large .btn-small {
  background-color: $primary-color;
}

.btn-large:hover .btn-small:hover {
  background-color: $hover-color;
}

nav {
  background-color: $primary-color;
}


table {
      border-collapse:collapse;
      margin-top: 70px;
      }
      td, th {
      padding: 10px;
      border-bottom: 2px solid $hover-color;
      text-align: center;
      }

