{% extends 'menu.html' %}
{% load static %}
{% block title %}Mis Cursos{% endblock %}


{% block content %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                 <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  {{message}}
                </div>
            {% endfor %}
        </ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <div>
        <a href="{% url 'coordinacion:cursos' %}" class="waves-effect waves-light btn-small btn red accent-2" >
            <i class="material-icons left">arrow_back</i>Volver</a>

            <button type="submit" class="waves-effect waves-light btn-small btn red accent-2">
                <i class="material-icons right">playlist_add_check</i>Guardar</button>

    </div>
</form>
{% endblock %}